* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-dark-color:#000000;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color:var(--color-dark-color);
    color: white;
}
/* utility */
.debug{
    border: 1px solid white;
}
img{
    width: 100%;
}
.align-content{
    align-items: center;
    align-content: center;
}
.flex{
    display: flex;
}
.logo{
    width: 30%;
}
.flexwrap{
    flex-wrap: wrap;
}
.main-content{
    height:calc(100% - 80px);
    
}
.flex-column{
    flex-direction: column;
}
.side-bar{
    width:400px;
    padding: 10px 5px;
    
}
a{
    text-decoration: none;
    color: white;
}
.sidebar-action{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    color: white;
    margin: 15px 0;
}
.callaction{
    height: 80px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.song-section{
    width:calc(100% - 400px);
}
.sidebar1{
    height: 20%;
    background-color: rgb(26, 26, 26);
    margin-bottom: 5px;
    border-radius: 5%;
    padding: 5px;
}
.sidebar1 span{
   margin-left: 15px;
}
.sidebar2{
    height: 80%;
    background-color: rgb(26, 26, 26);
    padding-top: 5px;
    border-radius: 5%;
    padding: 5px;
}
.sidecard{
    margin-bottom: 30px;
    background-color: rgb(78, 76, 76);
    padding-left: 10px;
}
.btn{
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    margin:10px 0;
}
.sidecard h3{
    margin-bottom: 10px;
}
.callaction{
    background-image: linear-gradient(to right, violet, red);
}
.section1{
    
    height: 40%;
    background: linear-gradient(to top , transparent , rgb(43, 43, 228));
}
.section2{
    height:60%;
}
.singer{
    width: 15%;
    margin-left: 30px;
    min-width:150px;
}
.singertext{
    padding-left:20px;
    ;
}
.singersection{
    padding-top: 20px;
}
.play{
    height: 20%;
    padding: 15px 0 0 40px;
    font-size: 4em;
}
.icon{
    font-size: 2em;
}
#audio-control + audio {
    display: none;
}

#audio-control:checked + audio {
    display: block;
}
.cards{
    height:calc(100% / 5);
    font-size: 2em;
    padding-top: 10px;
    padding-left: 10px;
}
#audio-control2 + audio {
    display: none;
}

#audio-control2:checked + audio {
    display: block;
}
#audio-control3 + audio {
    display: none;
}

#audio-control3:checked + audio {
    display: block;
}
#audio-control4 + audio {
    display: none;
}

#audio-control4:checked + audio {
    display: block;
}
#audio-control5 + audio {
    display: none;
}

#audio-control5:checked + audio {
    display: block;
}
#audio-control6 + audio {
    display: none;
}

#audio-control6:checked + audio {
    display: block;
}
.bg1{
    animation: changeBackgroundColor 10s linear infinite;
}
@keyframes changeBackgroundColor {
    0% {
        background-image: linear-gradient(to bottom, #c40f0f, #96b11d); 
    }
    30% {
        background-image: linear-gradient(to bottom, #ff0000, #00ff00);
    }
    60% {
        background-image: linear-gradient(to bottom, #db16c1, #0dc726);
    }
    100% {
        background-image: linear-gradient(to bottom, #cf0ea5, #131b8a);
    }
}
.bg2{
    animation: changeBackgroundColor2 10s linear infinite;
}
@keyframes changeBackgroundColor2 {
    0% {
        background-image: linear-gradient(to bottom, #680aff, #96b11d); 
    }
    30% {
        background-image: linear-gradient(to bottom, #4318a7, #b13e08);
    }
    60% {
        background-image: linear-gradient(to bottom, #7c0e6d, #975908);
    }
    100% {
        background-image: linear-gradient(to bottom, #cf0ea5, #4eb10d);
    }
}
.bg3{
    animation: changeBackgroundColor3 10s linear infinite;
}
@keyframes changeBackgroundColor3 {
    0% {
        background-image: linear-gradient(to bottom, #eecfe4, #a00b0b); 
    }
    30% {
        background-image: linear-gradient(to bottom, #1f1019, #68ce09);
    }
    60% {
        background-image: linear-gradient(to bottom, #062b35, #550b0b);
    }
    100% {
        background-image: linear-gradient(to bottom, #da0c0c, #0ea4d1);
    }
}
.bg4{
    animation: changeBackgroundColor4 10s linear infinite;
}
@keyframes changeBackgroundColor4 {
    0% {
        background-image: linear-gradient(to bottom, #eecfe4, #000000); 
    }
    30% {
        background-image: linear-gradient(to bottom, #080404, #f7f7f7);
    }
    60% {
        background-image: linear-gradient(to bottom, #ffffff, #000000);
    }
    100% {
        background-image: linear-gradient(to bottom, #0e0a0a, #fcfcfc);
    }
}
.bg5{
    animation: changeBackgroundColor5 10s linear infinite;
}
@keyframes changeBackgroundColor5 {
    0% {
        background-image: linear-gradient(to bottom, #478a52, #3b1010); 
    }
    30% {
        background-image: linear-gradient(to bottom, #040608, #770b77);
    }
    60% {
        background-image: linear-gradient(to bottom, #1f1dbb, #000000);
    }
    100% {
        background-image: linear-gradient(to bottom, #12af7b, #94b618);
    }
}
body {
    background: #2b2b2b;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1px;
  }
  .container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  .music-container {
    display: flex;
    align-items: center;
    align-self: center;
    height: 80px;
    padding: 0 15px 0 15px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
  }
  .soundwave-container {
    height: 40px;
    width: auto;
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
  }
  .bar {
    width: 6px;
    height: 100%;
    background: #1dd05d;
    border-radius: 2px;
    margin: 0 2px;
    animation: equalizer 1.9s steps(20, end) infinite;
  }
  .bar:nth-child(1) { 
    animation-duration: 1.9s;
  }
  .bar:nth-child(2) { 
    animation-duration: 2.0s;
  }
  .bar:nth-child(3) { 
    animation-duration: 1.7s;
  }
  .bar:nth-child(4) { 
    animation-duration: 2.1s;
  }
  
  
  @keyframes equalizer {
    0% {
      height: 60%;
    }
    4% {
      height: 50%;
    }
    8% {
      height: 40%;
    }
    12% {
      height: 30%;
    }
    16% {
      height: 20%;
    }
    20% {
      height: 30%;
    }
    24% {
      height: 40%;
    }
    28% {
      height: 10%;
    }
    32% {
      height: 40%;
    }
    36% {
      height: 60%;
    }
    40% {
      height: 20%;
    }
    44% {
      height: 40%;
    }
    48% {
      height: 70%;
    }
    52% {
      height: 30%;
    }
    56% {
      height: 10%;
    }
    60% {
      height: 30%;
    }
    64% {
      height: 50%;
    }
    68% {
      height: 60%;
    }
    72% {
      height: 70%;
    }
    76% {
      height: 80%;
    }
    80% {
      height: 70%;
    }
    84% {
      height: 60%;
    }
    88% {
      height: 50%;
    }
    92% {
      height: 60%;
    }
    96% {
      height: 70%;
    }
    100% {
      height: 80%;
    }
  }
  
  .song {
    display: flex;
    align-items: center;
    width: 300px;
  }
  .albumart {
    background-image: url('https://i.scdn.co/image/ab67616d0000b2738181d8122c4f608df8ef5a4f');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    margin-right: 15px;
    border-radius: 4px;
  }
  .title { 
    color: #1dd05d;
    font-size: 1.3rem;
    padding: 0; margin: 2px 0 6px;
  }
  .artist {
    font-size: 1rem;
    padding: 0; margin: 2px 0;
    color: #baaebc;
  }
  .artist:hover {
    border-bottom: 1px solid;
    margin-top: -0.5px;
    cursor: pointer;
  }
  .animate {
    animation: heart-burst .8s steps(28) forwards;
  }
  
  @keyframes heart-burst {
      0% {
          background-position: left
      }
      100% {
          background-position: right
      }
  }
  .like-container {
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .like {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
    background-repeat: no-repeat;
      background-size: 2900%;
    background-position: left;
      height: 100%;
      width: 100%;
    margin: 0 auto;
    cursor: pointer;
  }
  @media screen and (max-width: 992px){
   .container{
    display: none;
    }
    .play{
        font-size: 1.5em;
        height: 25%;
    }
  }
  @media screen and (max-height: 700px){
    .section1{
        display: none;
    }
   }