* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;
}
body{
    background-color: var(--color-dark-color);
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}
/* utility */
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-end{
    justify-content:flex-end;
}
.space{
    justify-content: space-between;
}
img{
  width: 100%;
}

.px{
    padding: 10px 0;
}
.text-center{
    text-align: center;
}
.justify-center{
    justify-content: center;
}
.border-rad{
    border-radius: 50%;
}
.align-item{
    align-items: center;
}
.wrapper{
    width: 100%;
    height: 100vh;
}
.debug{
    border: 1px solid white;
}
.main{
    height: calc(100% - 80px);
}
.under-bar{
    height:79px;
    background-color: var(--color-dark-grey);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.side-bar{
    width: 250px;
    background-color:var(--color-black);
    padding: 20px 50px 10px 30px;
    overflow: hidden;
    
}

img{
    width: 100%;
}
.sidebar-action{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    color: white;
    margin: 15px 0;
}

.istalla{
    color: var(--color-light-grey);
    width: 20px;
    
}
.profile{
    background-color: var(--color-light-grey);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    margin-bottom: 5px;
}
.profile span{
    font-size: 0.7em;
    white-space: nowrap; 
    padding: 5px;
}
.profile img{
    object-fit: contain;
    border-radius: 50%;
}
.istalla span{
    font-size: 0.8em;
    white-space: nowrap;
}
.iconplus{
    font-size: 3em;
    padding-right: 8px;
}
.playlist li{
    color: var(--color-light-grey);
    padding: 10px 0;
}

.main-content{
    width: calc(100% - 250px);
    padding: 90px 20px 0 20px;
}
.wrap{
    flex-wrap: wrap;
}
.call-to-action{
    background-color:rgba(0, 0,0,0.4);
    position: fixed;
    top: 0;
    left: 250px;
    width:calc(100% - 250px);
    height: 70px;
    
}
.callbtn{
    border: 1px solid white;
    padding: 10px 10px 15px 10px;
    margin: 20px 30px;
    border-radius:20px;
    color: var(--color-white);
    width: 200px;
    height: 35px;
    font-size: 0.8em;
    transition: 0.5s;
}
.callbtn:hover {
    cursor: pointer;
    width: 210px;
    height: 40px;
    margin: 15px 25px;

}

.navbar a{
    margin: 10px;
    color: var(--color-grey);
    font-weight:bold;
}
.main-content{
    overflow: auto;
}
.cover h2{
    color: var(--color-white);
    font-size: 1.5em;
    padding: 30px 10px 25px 10px;
}
.cover h4{
    color: var(--color-grey);
    padding-left: 10px;
}
.cards img{
    width: 100%;
    padding: 10px;
}
.cards{
    width: calc(100% / 6);
    
    
}
.relative{
    position: relative;
}
.overlay{
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0;
    transition: opacity 0.5s
    
} 

.cards i{
    font-size: 4em;
}
.cards h3{
    color: white;
    font-size: 1em;
    padding: 10px;
}
.cards h4{
    color: var(--color-grey);
}
.branosx{
    width: 200px;
    padding: 10px 10px 5px 15px;
}
.branodx{
  width: 215px;
  padding: 10px 0px 0 0;

}
.sinister{
    width: 50px;
    height: 50px;
}
.sinister h3{
    font-size: 0.8em;
    padding-left: 10px;
    padding-top: 10px;
}
.sinister h4{
    font-size: 0.5em;
    padding-left: 10px;
    white-space: nowrap;
    color: var(--color-grey);
}
.logosmall{
    width: 30px;
    display: none;
}
.iconsx{
    padding:10px 0 0 20px;
}
.iconsx i{
    padding-right: 10px;
}
.iconsx2{
    padding: 20px 5px 5px 0px;
}
.iconsx2 i{
    padding-right: 10px;
}
.playbar{
    padding-top: 10px;
    width: 400px;
    
}
.playbar i{
    
    
    padding-left: 20px;
}
.range{
    padding: 10px 0 0 20px;
    width:100%;
    
}
#myrange{
    width:100%;
    
}
.border-bot{
    border-bottom: 2px solid green;
    width: 50%;
    margin: 0 auto;
    display: none;
    margin-bottom: -2px;
    
}
.navbar a:hover + .border-bot{
    display: block;
}
a{
    color: var(--color-grey);
}
a:hover{
    color: white;
}
.hovericon{
    color: gray
}
.hovericon:hover{
    color: white;
    cursor: pointer;
}
.bigger{
    height: 20px;
    font-size: 1.5em;
    margin-top:-3px;
    margin-bottom: 5px;
}
.bigger:hover{
    font-size: 1.8em;
    margin-top: -6px;
    margin-bottom: 8px;
}
.relative:hover .overlay{
    opacity: 1;
    cursor: pointer;
}

/* mediaquery */
@media screen and (max-width: 1200px){
    .card-container {
        flex-wrap: wrap;
    }
    .cards{
        width: calc(100% / 4);
    }
}
@media screen and (max-width: 992px){
    .cards{
        width: calc(100% / 2);
    }
    li{
        margin:10px 0;
    }
    
}
@media screen and (max-width: 768px){
    .sidept1 span{
        display: none;
    }
    .playlist{
        display: none;
    }
    .sidebar-action span{
    display: none;
    }
    .logosmall{
        display: block;
    }
    .logo{
        display: none;
    }
    .side-bar{
        width: 50px;
        padding: 5px 0px 0px 10px;
    }
    .main-content{
        width:calc(100% - 50px);
    }
    .call-to-action{
        width: calc(100% - 50px);
        left: 50px;
    }
    
}

@media screen and (max-width: 576px){
    .branosx{
        display: none;
    }
    .branodx{
        display: none;
    }
    .under-bar{
        justify-content: center;
    }
}