* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;
}
body{
    background-color: var(--color-dark-color);
    font-family: 'Montserrat', sans-serif;
    
}
/* utility */
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.justify-center{
    justify-content: center;
}

.wrapper{
    width: 100%;
    height: 100vh;
}
.debug{
    border: 1px solid white;
}
.main{
    height: calc(100% - 80px);
}
.under-bar{
    height:79px;
    background-color: var(--color-dark-grey);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
.side-bar{
    width: 250px;
    background-color:var(--color-black)
}
.main-content{
    width: calc(100% - 250px);
    padding: 90px 20px 0 20px;
}
.call-to-action{
    background-color:var(--color-black);
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 250px;
    width:calc(100% - 250px);
    height: 70px;
}
.navbar a{
    margin: 10px;
    color: var(--color-grey);
    font-weight:bold;
}
.cover h2{
    color: var(--color-white);
    font-size: 1.5em;
    padding: 25px;
}